In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
import praw

In [3]:
reddit = praw.Reddit()

In [5]:
reddit.read_only = True

In [6]:
subreddit = reddit.subreddit("ethereum")

In [50]:
#https://praw.readthedocs.io/en/stable/code_overview/models/submission.html


post_titles = []
post_upvoteses = []
num_commentses = []
# Annoying names for semantic formulism to resolve identity errors (eg num_comments.append(num_comments). There are no other LOTR jokes in this doc. 
post_ids = []
post_upvote_ratios = []
post_comments = []
post_upvotes = []
post_dates = []
post_scores = []
post_texts = []
post_authors = []

comment_authors = []
comment_bodies = []
comment_submissions = []
comment_upvotes = []

counter = 1

for submission in subreddit.hot(limit=10):
    print(counter)
    post_title = submission.title
    post_upvotes = submission.score
    num_comments = submission.num_comments
    post_id = submission.id
    upvote_ratio = submission.upvote_ratio
    post_comment_list = list(submission.comments)
    post_date = submission.created_utc
    post_score = submission.score
    post_text = submission.selftext
    post_author = submission.author
    
    post_titles.append(post_title)
    post_upvoteses.append(post_upvotes)
    num_commentses.append(num_comments)
    post_ids.append(post_id)
    post_upvote_ratios.append(upvote_ratio)
    post_comments.append(post_comment_list)
    post_dates.append(post_date)
    post_scores.append(post_score)
    post_texts.append(post_text)
    post_authors.append(post_author)
    
    counter += 1

    
    
    for comment in post_comment_list:
        comment_author = comment.author
        comment_body = comment.body
        comment_submission = comment.submission
        comment_upvote = comment.score
        
        comment_authors.append(comment_author)
        comment_bodies.append(comment_body)
        comment_submissions.append(comment_submission)
        comment_upvotes.append(comment_upvote)

1
2
3
4
5
6
7
8
9
10

In [51]:
#post_texts[:10]

In [57]:
    # put posts into a df
    df_post = pd.DataFrame({'title': post_titles,
                            'num_comments': num_commentses,
                            'post_upvotes': post_upvoteses,
                            'id': post_ids,
                            'post_upvote_ratios':post_upvote_ratios,
                            'datetime':post_dates,
                            'score': post_scores,
                            'text': post_texts,
                            'upvote_ratio': post_upvote_ratios,
                            'post_author':post_authors
                           })

In [58]:
df_post.head()

,title,num_comments,post_upvotes,id,post_upvote_ratios,datetime,score,text,upvote_ratio,post_author
0,Frequently Asked Questions + Weekly Discussion...,11,23,101617w,0.94,1.672643e+09,26,**Welcome to the Weekly Discussion. Please rea...,0.94,AutoModerator
1,"Private data of 235,000,000 Twitter users leak...",55,348,103gwl6,0.94,1.672871e+09,348,"The database contains 235,000,000 unique recor...",0.94,Malwarebeasts
2,Seedshift - steganographically encrypt your se...,0,13,103v5od,0.93,1.672912e+09,13,Pertaining to recent events (both the FTX coll...,0.93,toshiromiballza
3,Are NFT Scammers Just As Creative as the Artis...,16,91,103bey7,0.92,1.672858e+09,85,,0.92,Sufficient-Bid-5716
4,Accidentally transferred Tether to my coinbase...,3,3,1040ny2,1.00,1.672930e+09,3,I did not notice that coinbase states â€œonly se...,1.00,YUNGjuulstin

In [59]:
df_post['datetime'] = pd.to_datetime(df_post['datetime'], unit = 's')

In [60]:
df_post.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               10 non-null     object
 1   num_comments        10 non-null     int64
 2   post_upvotes        10 non-null     int64
 3   id                  10 non-null     object
 4   post_upvote_ratios  10 non-null     float64
 5   datetime            10 non-null     datetime64[ns]
 6   score               10 non-null     int64
 7   text                10 non-null     object
 8   upvote_ratio        10 non-null     float64
 9   post_author         10 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 928.0+ bytes

In [62]:
df_post['date'] = df_post['datetime'].dt.date
df_post['time'] = df_post['datetime'].dt.time

In [63]:
df_post.shape

,title,num_comments,post_upvotes,id,post_upvote_ratios,datetime,score,text,upvote_ratio,post_author,date,time
0,Frequently Asked Questions + Weekly Discussion...,11,23,101617w,0.94,2023-01-02 07:00:11,26,**Welcome to the Weekly Discussion. Please rea...,0.94,AutoModerator,2023-01-02,07:00:11
1,"Private data of 235,000,000 Twitter users leak...",55,348,103gwl6,0.94,2023-01-04 22:17:41,348,"The database contains 235,000,000 unique recor...",0.94,Malwarebeasts,2023-01-04,22:17:41
2,Seedshift - steganographically encrypt your se...,0,13,103v5od,0.93,2023-01-05 09:53:30,13,Pertaining to recent events (both the FTX coll...,0.93,toshiromiballza,2023-01-05,09:53:30
3,Are NFT Scammers Just As Creative as the Artis...,16,91,103bey7,0.92,2023-01-04 18:46:44,85,,0.92,Sufficient-Bid-5716,2023-01-04,18:46:44
4,Accidentally transferred Tether to my coinbase...,3,3,1040ny2,1.00,2023-01-05 14:46:17,3,I did not notice that coinbase states â€œonly se...,1.00,YUNGjuulstin,2023-01-05,14:46:17

In [64]:
df_post.time.value_counts()

07:00:11    1
22:17:41    1
09:53:30    1
18:46:44    1
14:46:17    1
15:02:02    1
01:07:00    1
09:07:54    1
05:26:29    1
18:10:25    1
Name: time, dtype: int64